<div class="container-fluid">
  <div class="row mt-5">
    <div class="col"></div>
    <div class="col-4">
      <div class="card shadow">
        <div class="card-body">
          <form>
            <!-- Heading -->
            <div class="mb-3">
              <h4 class="text-dark text-muted">Register</h4>
            </div>

            <!-- Email input -->
            <div class="form-outline mb-4">
              <input type="email" name="email" class="form-control" [(ngModel)]="email"/>
              <label class="form-label">Email</label>
            </div>

            <!-- Password input -->
            <div class="form-outline mb-4">
              <input type="password" name="password" class="form-control" [(ngModel)]="password"/>
              <label class="form-label">Password</label>
            </div>

            <!-- Submit button -->
            <button type="submit" class="btn btn-primary btn-block" (click)="register()">
              Register
            </button>

          </form>
        </div>
      </div>
    </div>
    <div class="col-6"></div>
  </div>
</div>
